// eslint-disable-line
<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model="inputValue"
    :src="image"
    app
    light
    floating
    mobile-break-point="991"
    :mini-variant.sync="mini"
  >
    <template v-slot:img="attrs">
      <v-img
        v-bind="attrs"
        gradient="to top, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)"
      />
    </template>

    <v-list-item two-line>
      <v-list-item-avatar color="white">
        <v-img
          src="https://image.flaticon.com/icons/svg/892/892926.svg"
          height="20"
          contain
          @click="mini = !mini"
        />
      </v-list-item-avatar>

      <v-list-item-title class="title">
        Food Plant
      </v-list-item-title>
    </v-list-item>

    <v-divider class="mx-3 mb-3" />

    <v-list nav>
      <!-- Bug in Vuetify for first child of v-list not receiving proper border-radius -->
      <div />

      <v-list-item
        v-for="(link, i) in links"
        :key="i"
        :to="link.to"
        active-class="primary white--text"
      >
        <v-list-item-action>
          <v-icon>{{ link.icon }}</v-icon>
        </v-list-item-action>

        <v-list-item-title v-text="link.text" />
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
// Utilities
  import {
    mapMutations,
    mapState
  } from 'vuex'

  export default {
    props: {
      opened: {
        type: Boolean,
        default: false
      }
    },
    data: () => ({
      mini: true,
      links: [
        {
          to: '/',
          icon: 'mdi-view-dashboard',
          text: 'Dashboard'
        },
        {
          to: '/control-panel',
          icon: 'mdi-settings-outline',
          text: 'Control Panel'
        },
        {
          to: '/table-list',
          icon: 'mdi-table',
          text: 'Table List'
        },
        {
          to: '/chart',
          icon: 'mdi-chart-bell-curve-cumulative',
          text: 'Chart'
        },
        {
          to: '/feed',
          icon: 'mdi-rss',
          text: 'Feed'
        },
        // {
        //   to: '/maps',
        //   icon: 'mdi-map-marker',
        //   text: 'Maps'
        // },
        {
          to: '/notifications',
          icon: 'mdi-bell',
          text: 'Notifications'
        },
        {
          to: '/test',
          icon: 'mdi-bell',
          text: 'Test'
        }
      ]
    }),

    computed: {
      ...mapState('app', ['image', 'color']),
      inputValue: {
        get () {
          return this.$store.state.app.drawer
        },
        set (val) {
          this.setDrawer(val)
        }
      }
    },

    methods: {
      ...mapMutations('app', ['setDrawer', 'toggleDrawer'])
    }
  }
</script>
